@import '../../assets/scss/App.scss';
.wrapper{
    padding-top: rem(64);
}
.col{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: rem(16);
}
.text{
    font-weight: 700;
    font-size: rem(16);
    line-height: 140%;
    color: #808080;
}
